<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!-- Our edit form is almost identical to our Add form, except the differences noted below -->
<form method="post" style="max-width:600px;" th:object="${cheese}">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input class="form-control" th:field="*{description}"/>
        <span th:errors="*{description}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="type">Type</label>
        <select th:field="*{type}">
            <option th:each="cheeseType : ${cheeseTypes}"
                    th:text="${cheeseType.name}"
                    th:value="${cheeseType}"></option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="rating">Rating</label>
        <input class="form-control" type="number" th:field="*{rating}"/>
        <span th:errors="*{rating}" class="error"></span>
    </div>

    <!-- We add a hidden field for our cheeseId (Using `*{cheeseId}` to reference our model defined above as `th:object="${cheese}"`-->
    <input type="hidden" th:field="*{cheeseId}"/>

    <!-- Make sure your form still makes sense, rename your button to the edit-->
    <input type="submit" value="Edit Cheese"/>
</form>

</body>
</html>