<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${users} and ${users.size()}">no users :(</p>


<table class="table">

    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Edit</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <!--This is another way you can create an href using Thymeleaf-->
            <a th:href="@{/user/edit/{userId}(userId=${user.userId})}">edit</a>
        </td>
    </tr>

</table>

</body>
</html>